.dashboard {
    height:100%
}
.dashboard .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .steps-action {
    margin-top: 24px;
  }

  .global-search-wrapper {
    padding-right: 50px;
  }
  
  .global-search {
    width: 100%;
  }
  
  .global-search.ant-select-auto-complete .ant-select-selection--single {
    margin-right: -46px;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 62px;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 0;
  }
  
  .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .property-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .property-info .ant-card-body{
    text-align: start;
  }
  .property-info-desc{
    
    margin: 5px 0px
  }
  .property-info-desc p{
    margin: 2px 0px
  }
  .global-search-item-count {
    position: absolute;
    right: 16px;
  }

  .agent-info-from .ant-btn-primary {
    background-color: rgb(30, 40, 86);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-family: 'Arial';
}

.agent-info-from .ant-btn-primary:hover {
    background-color: rgb(30, 40, 86);
    border: none;
}

.agent-info-from .ant-btn-primary:focus {
    background-color: rgb(30, 40, 86);
    border: none;
}