.SaleContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0px 0px 4px rgba(30, 40, 86, 0.2);
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 100%;
}

.SaleContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: rgb(54, 72, 152);
    font-family: 'Arial';
}

.SaleBtn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 'Arial';
    color: #333;
    background-color: #EDF1FF;
    border: none;
}

.SaleBtn:hover {
    color: white;
    background-color: rgb(30, 40, 86);
    border: none;
}

.SaleBtn:focus {
    color: white;
    background-color: rgb(30, 40, 86);
    border: none;
}

.codeTitle {
    font-size: 18px;
    color: rgb(54, 72, 152);
    font-family: 'Arial';
}

.ant-card-head-title {
    /* font-size: 40px;
    color: rgb(218, 218, 218);
    font-family: 'Arial'; */
}